<div class="row w-100 d-flex justify-content-center">
  <div class="col-md-10 bg-white text-dark p-3">
    <h1 class="text-primary"><%= @message.title %></h1>
    <p class="badge badge-success"><%= time_ago_in_words(@message.created_at) %> ago</p>
    <p><%= @message.description %></p>
    <br>
    <h3 class="text-primary">Comment:</h3>
    <p><%= render @message.comments %></p>
    <h3 class="text-primary">Join discussion:</h3>
    <%= render "comments/form" %>
    <br>
    <%= link_to "Home", root_path, class:"btn btn-secondary" %>
    <%= link_to "Edit", edit_message_path(@message), class:"btn btn-warning" %>
    <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %>
  </div>
</div>
